<!DOCTYPE html>
<html lang="cn">
<head>
    <title>九宫格抽奖</title>
    <link rel="stylesheet" href="../css/nine.css">
</head>
<body>
    <div class="wrap">
        <div class="title">圣诞抽抽乐</div>
        <div class="box">
            <div class="item">我爱你</div>
            <div class="item">你爱我</div>
            <div class="item">我不爱你</div>
            <div class="item">你爱我</div>
            <div class="item start">开始</div>
            <div class="item">你爱我</div>
            <div class="item">再见</div>
            <div class="item">谢谢惠顾</div>
            <div class="item">你爱我</div>
            <div class="spin"></div>
        </div>
    </div>
    <script src="../js/lib/xuery.js"></script>
    <script src="../js/nine.js"></script>
</body>
</html>